[Desktop Entry]
Version=1.0
Name=AION
Comment=load AION
Exec=gnome-terminal -- bash -c 'ollama run aion; exec bash'
Icon=~/kuntai_installer/AIONwithTUX.png
Terminal=true
Type=Application
Name[en_CA]=AION.desktop
